body{
    background-image: url(https://us.123rf.com/450wm/pitsvector/pitsvector1610/pitsvector161000147/67664951-ilustraci%C3%B3n-de-vector-de-fondo-espacio-y-estrella.jpg);
}

#container{
    margin: 0px auto;
    width: 70%;
    border: 2px solid gray;
    background-color: rgb(244, 228, 145);
}

h1{
    margin-left: 20px;
}

.cuadro{
    list-style: none;
}

img{
    width: 200px;
}

img:hover{
    width: 600px;
}
