*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#orange_cat {
    width: 450px;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 10px;
    mix-blend-mode: hard-light;
}

#cat_logo {
    width: 90px;
    margin-right: 35%;
    padding: 10px;
    float: right;
}

body {
    background-color: whitesmoke;
}

#parent_container {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 600px;
    background: linear-gradient(to right, rgb(17, 94, 167), rgb(28, 173, 218));
    border-radius: 10px;
}

#first_container{
    width: 50%;
    height: 100%;
    margin-top: 70px;
    float: left;
}

#second_container{
    width: 49%;
    margin-top: 70px;
    height: 100%;
    float: right;
}

#second_container h1{
    margin-left: 32%;
    margin-top: 25%;
    color: aliceblue;
    font-size: 40px;
}

.subtitle {
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 27px;
}

#txt_username {
    margin-left: 26%;
    padding: 6px;
    width: 240px;
    height: 20px;
    border:0;
    border-bottom:1px solid #eee;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 5px rgb(17, 94, 167);
    border-color: rgb(28, 173, 218);
    color: rgb(28, 173, 218);
}

#txt_password {
    margin-left: 26%;
    padding: 6px;
    border:0;
    border-bottom:1px solid #eee;
    width: 240px;
    height: 20px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 5px rgb(17, 94, 167);
    border-color: rgb(28, 173, 218);
    color: rgb(28, 173, 218);
}

::placeholder{
    color: rgb(28, 173, 218);
}

#submit {
    margin-top: 35px;
    margin-left: 40%;
    padding: 5px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px whitesmoke;
    background-color: rgb(28, 173, 218);
    font-size: 17px;
    color: whitesmoke;
}

#submit:hover{
    margin-top: 35px;
    margin-left: 40%;
    padding: 5px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: solid 2px whitesmoke;
    background-color: rgb(28, 173, 218);
    font-size: 16px;
    color: whitesmoke;
}

#submit:active {
    margin-top: 35px;
    margin-left: 40%;
    padding: 5px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: solid 2px whitesmoke;
    background-color: rgb(192, 210, 228);
    font-size: 16px;
    color: whitesmoke;
}