*{
    padding: 0px;
    margin: 0px;
}

#parent_container {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 500px;
    background: linear-gradient(to right, rgb(17, 94, 167), rgb(28, 173, 218));
    border-radius: 4px;
}

#first_container{
    width: 50%;
    height: 100%;
    float: left;
}

#second_container{
    width: 49%;
    height: 100%;
    float: right;
}

#second_container h1{
    margin-left: 35%;
    margin-top: 25%;
}

.subtitle {
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#txt_username {
    margin-left: 26%;
    padding: 6px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 5px rgb(17, 94, 167);
    border-color: rgb(28, 173, 218);
    color: rgb(28, 173, 218);
}

#txt_password {
    margin-left: 26%;
    padding: 6px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 5px rgb(17, 94, 167);
    border-color: rgb(28, 173, 218);
    color: rgb(28, 173, 218);
}

::placeholder{
    color: rgb(28, 173, 218);
}

#submit {
    margin-top: 20px;
    margin-left: 45%;
}